@font-face {
    font-family: 'Museo700Regular';
    src: url('../inc/fonts/Museo700-Regular-webfont.eot');
    src: url('../inc/fonts/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../inc/fonts/Museo700-Regular-webfont.woff') format('woff'),
         url('../inc/fonts/Museo700-Regular-webfont.ttf') format('truetype'),
         url('../inc/fonts/Museo700-Regular-webfont.svg#Museo700Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Museo700Regular';  
}

.footer {
  position: absolute;
  bottom: 0;
  height:60px;
  width: 100%;  
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */

body > .container {
  padding: 60px 15px;
}

.container .text-muted {
  margin: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Museo700Regular';
}
p, div {
    font-family: 'Museo700Regular';
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#quiz_logo img{
  max-height:550px;
}

.text p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size:1.3em;
}

#the_phrase{
  margin-bottom:20px;
}

.selection {
  border: solid 5px transparent;
  border-radius:6px;
  padding:2px;
}

.selection:hover {
  border-color:gray;
  border-style: dotted;
  border-width: 5px;
  cursor:pointer;
}

#quiz_canvas {

}

#par_ans, #pop_ans {
  display: none;
  max-height:550px;
  
}

.embedded_image {
  margin:10px;

}

#start {
  margin-top:30px;
  padding-bottom:40px;  
}

.go_button {  
  border-radius:6px;
  font-size:1.75em;
  padding:10px;
}

 .quiz_vert, .instructions_vert {
  color:#6c6c6c;
 }

 #nav_button {
  margin-top:30px;
  text-align:center;
 }

/* media queries */
@media (min-width: 992px) { 
  .instructions_vert {    
    margin-top:210px;
  }
  .quiz_vert {    
    margin-top:115px;
  }

  .instructions_sections img{
    max-width:270px;
  }

  .left img{
    float:right;
  }

  .right img{
    float:left;
  }

  .left_finis img{
    float:right;
    max-width:300px;
  }

  #score_box {
    margin-top:45px;    
  }
 }

 @media (max-width: 992px) { 
  .ans_text {    
    margin-top:20px;
    margin-bottom:20px;
  }

  #nav_button {
    margin-top:15px;
   }

   .container .text-muted {
    margin: 10px 0;
  }
}




















